@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve descripción de Humantis Tecnologic</h1>
    <p>
     Humantis Tecnologic se fundó a principios de 2004, en la ciudad de Panamá, con el objetivo de vender computadoras, sus componentes y soluciones personalizadas a precios accesibles.
     Ya que el mercado de las computadoras es muy cambiante, hemos logrado disminuir costos porque no contamos con un local de exhibición o almacenamiento, por esto le ofrecemos mejores precios. Nuestra sala de exhibición es en linea. Se caracteriza por ser conveniente, facilita el acceso a todos los productos con sus fotos y especificaciones para disfrutar su compra. 
     Nuestra visión es satisfacer las necesidades de nuestros clientes al 100%. Dándoles una gran variedad de productos a bajos precios, realmente le ponemos atención a sus expectativas. La tarea y compromiso de todos los miembros de Humantis Tecnologic es, que los avances de la tecnología estén al alcance de todos los panameños. 
     La filosofía es vender productos de alta calidad y no es un “intel inside”, cuando otras fabricantes ofrecen este producto con mejor rendimiento a bajo costo. 
     Además brindamos servicios de Instalación de Programas, reparación y mantenimiento de equipos..

<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </p>
</section>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="sidebar">
    @*Twitter.Search(WebMatrix)*@
</div>
